@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-bebas-neue);
  --color-primary: #2E18A0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .search{
    @apply bg-gray-100 pl-9 py-2 rounded-full lg:rounded-none lg:py-4 lg:bg-white lg:border-2 lg:placeholder:text-right lg:pr-6 lg:border-gray-300 outline-none text-sm placeholder-gray-500 focus:ring-1 focus:ring-gray-300 
  }
  .link{
    @apply hover:text-blue-700 hover:underline hover:underline-offset-4
  }
  .basket{
    @apply flex bg-primary text-white cursor-pointer hover:opacity-90 transition-all duration-300 p-4 flex-row-reverse gap-2 relative
  }
  .buy-btn{
    @apply w-full hover:opacity-80 transition-all duration-300 text-white rounded-b-2xl bg-black opacity-70 p-3 cursor-pointer flex items-center justify-center text-xs relative overflow-hidden
  }
  .manage-btn{
    @apply  px-2 border-gray-300 h-full cursor-pointer transition-all duration-300 hover:text-white hover:bg-gray-400 w-7
  }
  .add-btn{
    @apply flex cursor-pointer justify-center items-center bg-black/80 text-white w-full py-3 text-sm rounded-md hover:opacity-80 transition-all
  }
  .circle{
    @apply size-40 rounded-full border-2 border-black bg-red-400 absolute pointer-events-none transition-none
  }
}